<head>
    <style type="text/css">
        .btn-primary {
            width: 78px;
            margin-left: 64px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<body>
    @Html.Partial("SignIn")
</body>
